@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@import 'aos/dist/aos.css';
@import "./prism.css";


@plugin "daisyui" {
    themes: black --default, light;
}

@plugin "daisyui/theme" {
    name: "black";
    default: true;
    --color-primary: #00BCFF;
    --color-base-100: #0E111B;
    --color-base-200: #050714;
    --color-base-300: #161928;

    --color-secondary: teal;
    --color-accent: #5CB338;
    --radius-selector: 1rem;
    --radius-field: 3px;
     --radius-box: 0.5rem;
  }

  @plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #00BCFF;
    --color-base-100: oklch(98% 0.003 247.858);
    --color-base-200: oklch(96% 0.007 247.896);
    --color-base-300: oklch(92% 0.013 255.508);
    --color-base-content : oklch(21% 0.006 285.885);
    --color-accent: #5CB338;
    --radius-selector: 1rem;
    --radius-field: 3px;
    --radius-box: 0.5rem;
  }

  @utility input {
    @apply !outline-none;
  }

@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Poppins', 'Raleway', sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    .vc-text-6 strong {
        text-decoration: underline;
        text-decoration-color: var(--color-accent);
        text-decoration-style: wavy;
        color: --var(--base-content);
      }

    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }

    /* For Firefox */
    .scrollbar-hidden {
        scrollbar-width: none;
    }

    /* For Internet Explorer and Edge */
    .scrollbar-hidden {
        -ms-overflow-style: none;
    }
}

[data-flux-field] {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
